.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.registration-form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input {
  display: block;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  display: block;
  width: 80%;
  padding: 10px;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;

  padding: 26.11px 49.61px 26.11px 41.78px;
  gap: 15.67px;
  border-radius: 107.06px;
  margin-left: 60px;
  
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

.regForm {
  font-family: "Covered By Your Grace", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 39.6px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2da950;
}

.regTitle {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
}

.nameInput {
  padding: 24px 36px 24px 36px;
  gap: 5px;
  border-radius: 64px;
  border: 1px solid black;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.32px;
  text-align: left;
  margin: 30px 60px 10px;
  background: #efefef;
}

.icons {
  margin-left: 80px;
 
}

.navContainer {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  border: 1px solid #eaeaea;
  border-radius: 65.28px;
  padding: 16.97px 20.89px 16.97px 52.22px;
  display: flex;
  justify-content: space-between;
}
.subcontainer {
  gap: 15.67px;
  display: flex;
}

.btn-2 {
  padding: 26.11px 49.61px 26.11px 41.78px;
  gap: 15.67px;
  border-radius: 107.06px;
  background-color: #1c1c1c;
  color: #ffffff;

  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.59px;
  text-align: center;
}

.btn-1 {
  padding: 26.11px 41.78px 26.11px 41.78px;
  gap: 5.22px;
  border-radius: 107.06px;
  border: 1.31px solid #eaeaea;
  color: #1c1c1c;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  text-align: center;
  background-color: #ffffff;
}

.navlogo_ {
  width: 127.94px;
  height: 47.39px;
  padding: 7.86px 0.17px 9.03px 6.78px;
}

img {
  width: 121px;
  height: 30.5px;
  margin-left: 6.78px;
}

.fontst {
  font-size: 50px;
  cursor: pointer;
}
