.middle {
  width: 1376px;
  height: 749px;
  margin-top: 32px;
  margin-left: 32px;
  border-radius: 40px;
}

.MiddleClassCon {
  display: flex;
  margin-top: 32px;
  margin-left: 32px;
 
  border-radius: 40px;
  justify-content: space-evenly;
  background: #e8eee7;
}

.middleFir {
  width: 1200px;
  height: 300px;
}

.container {
  padding: 10px;
}
