.congCard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.automat {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
